<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <link rel="stylesheet" href="./css/theme.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="./app.js" defer></script>
</head>
<body>
    
    <div class="container" id="app">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input 
                    type="text" 
                    v-bind:placeholder="appPlaceholder" 
                    v-bind:value="appInputValue"
                    v-on:input="appInputChanger"
                    v-on:keypress.enter="addNewAppNote"
                >
            </div>
            <!-- /.form-control -->
            <button class="btn" v-on:click="addNewAppNote">Добавить</button>
            <hr>
            <ul class="list" v-if="appNotes.length !== 0">
                <li class="list-item" v-for="(myNote, i) in appNotes">
                    ({{ i + 1 }}) {{ myNote }}
                    <button class="btn danger" v-on:click="removeAppNote(i)">Удалить</button>
                </li>
            </ul>
            <div v-else>Заметок пока нет.</div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container -->
</body>
</html>